
  
  ul {
    list-style-type: none; /* Remove bullet points from the list items */
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 15px; /* Add some space between navigation items */
  }
  
  a {
    color: #fff; /* Text color for navigation links */
    text-decoration: none; /* Remove underline from links */
    padding: 8px 16px; /* Add padding to create clickable areas for links */
    border-radius: 4px; /* Add rounded corners to the links */
    transition: background-color 0.2s ease; /* Add a smooth transition effect on hover */
  }
  
  a:hover {
    background-color: #555; /* Background color change on link hover */
  }
  
  /* General Styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  /* Form Styling */
  input {
    padding: 8px; /* Adds padding inside the input field */
    border: 1px solid #ccc; /* Adds a 1px border with a light gray color */
    border-radius: 5px; /* Adds rounded corners */
    font-size: 16px; /* Sets the font size */
    color: #333; /* Sets the text color */
  }
  
  p {
    font-size: 16px; /* Sets the font size */
    line-height: 1.5; /* Sets the line height for better readability */
    margin: 10px 0; /* Adds margin at the top and bottom of each <p> element */
    color: #333; /* Sets the text color */
  }
  
  /* Styling for different sections */
  #afterlogin {
    display: none;
  }
  
  #loginpage {
    display: block;
  }
  
  #notification {
    display: none;
  }

  #centered_container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Change the width as needed */
    height: 300px; /* Change the height as needed */
}
  
.dropdown-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
}

.dropdown-label {
  font-weight: bold;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
 